.image4io-card {
  width: 100px;
  max-height: 200px;
}

.image-frame {
  display:flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content:center;
  flex-direction:column;
}

.image4io-container{
  display:flex;
  width: 100%;
  flex-direction:row;
  flex-wrap:wrap;
  margin :10px;
}

.image4io-container:after{
  content: "";
  flex: auto;
}

.image-frame > .frame-img > img {
  text-align: center;
  width: 100%;
  height: auto;
}

.image4io-folder-path > a {
  text-decoration: none;
  color: #000;
}
.image-frame > h4{
  word-break: break-word;
}
.image-frame > .frame-img{
  width: 64px;
  height:64px;
  max-width: 100%;
  background-color: #fefefe;
  background-image: -webkit-linear-gradient(45deg,#cbcbcb 25%,transparent 25%,transparent 75%,#cbcbcb 75%,#cbcbcb),-webkit-linear-gradient(45deg,#cbcbcb 25%,transparent 25%,transparent 75%,#cbcbcb 75%,#cbcbcb);
  background-image: -moz-linear-gradient(45deg,#cbcbcb 25%,transparent 25%,transparent 75%,#cbcbcb 75%,#cbcbcb),-moz-linear-gradient(45deg,#cbcbcb 25%,transparent 25%,transparent 75%,#cbcbcb 75%,#cbcbcb);
  background-image: -o-linear-gradient(45deg,#cbcbcb 25%,transparent 25%,transparent 75%,#cbcbcb 75%,#cbcbcb),-o-linear-gradient(45deg,#cbcbcb 25%,transparent 25%,transparent 75%,#cbcbcb 75%,#cbcbcb);
  background-image: -ms-linear-gradient(45deg,#cbcbcb 25%,transparent 25%,transparent 75%,#cbcbcb 75%,#cbcbcb),-ms-linear-gradient(45deg,#cbcbcb 25%,transparent 25%,transparent 75%,#cbcbcb 75%,#cbcbcb);
  /* background-image: linear-gradient(45deg,#cbcbcb 25%,transparent 25%,transparent 75%,#cbcbcb 75%,#cbcbcb),linear-gradient(45deg,#cbcbcb 25%,transparent 25%,transparent 75%,#cbcbcb 75%,#cbcbcb); */
  -webkit-background-size: 14px 14px;
  -moz-background-size: 14px 14px;
  background-size: 14px 14px;
  background-position: 0 0,8px 8px;
}

.image4io-folder-path > a:after {
  content: " /";
}
.image4io-folder-path > a:first-child:before {
  content: " Path » ";
}
.image4io-folder-path > a:last-child:after {
  content: "";
}
.shortcode-image{
  display: block;
  width: 100%;
  height: auto;
}

